<!DOCTYPE html>
<html>

<head>
    <title>New Message</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <meta name="viewport" content="width=device-width, initial-scale=1">
</head>

<body>
    <div class="form-container">
        <h1>New Message</h1>
        <form action="/new-message" method="post">
            <div>
                <label for="title">Title:</label>
                <input class="message-title-in" type="text" id="title" name="title" required>
            </div>
            <div>
                <label for="message">Message:</label>
                <textarea id="content" name="message" required></textarea>
            </div>
            <div>
                <button type="submit">Post Message</button>
            </div>
        </form>
    </div>
</body>

</html>