<!DOCTYPE html>
<html>

<head>
  <title>Sign Up</title>
  <link rel='stylesheet' href='/stylesheets/style.css' />
  <meta name="viewport" content="width=device-width, initial-scale=1">
</head>

<body>
  <div class="form-container">
    <h1>Sign Up</h1>
    <form action="/signup" method="post">
      <div>
        <label for="username">Username:</label>
        <input type="text" id="username" name="username" required>
      </div>
      <div>
        <label for="password">Password:</label>
        <input type="password" id="password" name="password" required>
      </div>
      <% if (message) { %>
        <p class="error">
          <%= message %>
        </p>
        <% } %>
          <% if (errors) { %>
            <% errors.forEach(error=> { %>
              <p class="error">
                <%= error.msg %>
              </p>
              <% }) %>
                <% } %>
                  <div class="sign-button">
                    <button type="submit">Sign Up</button>
                  </div>
    </form>
    <div class="sign-login-button">
      <p>Already got an account?</p>
      <button><a href="/login">Login</a></button>
    </div>
  </div>
</body>

</html>